
* {
    margin: 0;
    padding: 0;
    outline: none;
    
}
html{height: 100%}
body{
    width: 100%;
    font-family: Verdana,sans-serif ;
    line-height: 135%;
    background-color: #16446a;
    
}
img{
    max-width: 100%;
    height: auto;
        
}
a{
  text-decoration: none;
  -webkit-transition: all.6s ease;
  -moz-transition: all.6s ease;
  -o-transition: all.6s ease;
  -ms-transition: all.6s ease;
  transition: all.6s ease;
}
a:hover{
    color: #808080;
}
a,a:hover{
    -webkit-transition: all.6s ease;
  -moz-transition: all.6s ease;
  -o-transition: all.6s ease;
  -ms-transition: all.6s ease;
  transition: all.6s ease;
}
.clear{
    clear: both;
}
/*Классы для шапки*/
header{
    width: 98%;
    float: left;
    padding: 1%;
    margin-bottom: 20px;
    
}
header #logo img{
    top: 1000px;
}
header #logo{
    width: 40%;
    float: left;
    
    
}

header #menuhead{
    float: right;
    
    
}

header #menuhead a{
    margin-right: 10px;
    color: #fff;
    font-size: 1.3em;
}
header #menuhead a:hover{
    text-decoration: underline;
    color: #fff;
}
/*Стили для Footer*/
footer{
    width: 98%;
    float: left;
    padding: 1%;
    margin-top: 10px;
    color: #000;
    background-color: #fff;
}
footer #social {
    float: left;
    width: 50%;
        
}
footer #social img{
    width:30px;
    height: 30px;
    float: left;
    margin-right: 5px;
     
}
footer #rights {
    float: right;
    width: 50%;
    text-align: right;
    font-size: 1.1em;
        
}
